.page-main {
  width: 630px;
  margin-top: 75px;
}

.page-main__title {
  margin: 0;
  padding: 0;

  font-size: 40px;
  line-height: 55px;
  font-weight: 400;
  letter-spacing: 3px;
}

.page-main__description {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  width: 580px;

  font-size: 19px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 300;
}

.page-main__form {
  position: relative;
  margin-top: 142px;

  &::before {
    position: absolute;
    content: "+7";

    color: #000000;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;

    left: 16px;
    top: 78px;
  }

  &::after {
    position: absolute;
    content: "";

    width: 70px;
    height: 75px;

    background-image: url("../img/stiker.png");
    background-repeat: no-repeat;
    background-position: center;

    right: 28px;
    top: 48px;
  }
}

.page-main__title-form {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page-main__description-form {
  margin: 0;
  padding: 0;
  margin-top: 8px;

  font-size: 17px;
  line-height: 17px;
  letter-spacing: 1px;
}

.page-main__input {
  box-sizing: border-box;
  width: 328px;

  margin-top: 20px;
  margin-right: 20px;
  padding-left: 46px;
  padding-top: 15px;
  padding-bottom: 14px;

  font-size: 17px;
  line-height: 17px;
  letter-spacing: 1px;

  border: none;
  border-radius: 5px;
}

.page-main__button {
  cursor: pointer;
  box-sizing: border-box;
  width: 204px;

  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 500;

  background-color: #1ba0e5;
  padding-top: 18px;
  padding-bottom: 18px;

  border: none;
  border-radius: 5px;

  &:hover,
  &:focus,
  &:active {
    background-color: #198ac5;
  }
}
